# Environment variables
.env

# Python
__pycache__/
*.pyc

# Project specific
certificates/
outputs/
certificates.zip
data.xlsx
static/uploads/*
!static/uploads/.gitkeep

# Database
*.db
*.sqlite3

# Logs
*.log

# System files
.DS_Store
Thumbs.db
